icone		ICON	"res\icone.ico"
exit		BITMAP	"res\exit.bmp"
login		BITMAP	"res\login.bmp"
tela_login	PNG	"res\tela_login.png"
wallpaper	JPG	"res\wallpaper.jpg"
logo_sistema	PNG	"res\logo_sistema.png"
img_menu	PNG	"res\img_menu.png"
fundo_retag	JPG	"res\fundo_retag.jpg"
menu_tabelas	PNG	"res\menu_tabelas.png"
menu_relatorios	PNG	"res\menu_relatorios.png"
menu_financeiro	PNG	"res\menu_financeiro.png"
op_001		PNG	"res\op_001.png"
op_002		PNG	"res\op_002.png"
op_003		PNG	"res\op_003.png"
op_004		PNG	"res\op_004.png"
op_005		PNG	"res\op_005.png"
op_006		PNG	"res\op_006.png"
op_007		PNG	"res\op_007.png"
op_008		PNG	"res\op_008.png"
op_009		PNG	"res\op_009.png"
op_010		PNG	"res\op_010.png"
op_011		PNG	"res\op_011.png"
op_012		PNG	"res\op_012.png"
op_013		PNG	"res\op_013.png"
img_vender	PNG	"res\img_vender.png"
img_resumo	PNG	"res\img_resumo.png"
img_movdia	PNG	"res\img_movdia.png"
img_retag	PNG	"res\img_retag.png"
img_abrecxa	PNG	"res\img_abrecxa.png"
img_fechacxa	PNG	"res\img_fechacxa.png"